/* Inserta tu codigo aqui */
.blog {
	background-color: #F1F1F0;
}
.blog-img {
	background-repeat: no-repeat;
	background-size: 100%;
	height: 170px;
}
.blog-1 {
	background-image: url(../img/blog1.jpg);
}
.blog-2 {
	background-image: url(../img/blog_3.jpg);
	background-position: -30px 0px;
	background-size: 150%;
}
.blog-3 {
	background-image: url(../img/instructor_1.jpg);
	background-position: -30px 0px;
	background-size: 150%;
}

.articulo {
	background-color: #E6E6E6;
	margin-bottom: 20px;
	padding: 20px 30px;
	
}
.fecha {
	color: #848484;
	font-style: italic;
	padding: 5px 0px;
}
.boton {
	background-color: #192951;
	border-radius: 3px;
	color: white;
	display: inline-block;
	padding: 10px;
	margin: 10px 0 0 0;
}