/* Inserta tu codigo aqui */
.title-clases{
	color: #192951;
	text-align: center;
	padding: 3% 0%;
}
.clases {
	background-color: #D8D8D8;
	padding: 4% 0%;
}
.dancer {
	background-position: center;
	background-size: cover;
	height: 450px;
	margin: 0% 4%;
	position: relative;
}
.ballet {
	background-image: url(../img/dance_12.jpg);
}
.moderm {
	background-image: url(../img/breakdance.jpg);
}
.jazz {
	background-image: url(../img/lirical-jazz.jpg);
}
.arabic {
	background-image: url(../img/arabe.jpg);
}
.kids {
	background-image: url(../img/little.jpg);
}
.yoga {
	background-image: url(../img/yoga.jpg);
}

.baile {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 14px;
	margin: 10px;
	padding: 20px 10px;
	text-align: center;
	position: relative;
	top: 150px;
}