/* Inserta tu codigo que es común para todas las páginas aqui */
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: #192951;
}
/*encabezado*/
header {
	padding-top: 3%;
	text-align: center;
}
.titulo {
	display: block;
	font-size: 2em;
	font-weight: bold;
}
.menu-principal {
	padding: 3% 0%;
}
.menu-principal a {
	padding: 0% 3%;
	font-size: 1.2em;
}
.menu-principal a:hover {
	color: white;
	background-color: #192951;
	padding: 1% 3%;
}

/*formulario*/
.fondo-formulario {
	background-image: url(../img/shoes_1.jpg);
	background-repeat: no-repeat;
  	background-position: right;
  	background-size: 60%;
}
.formulario {
	padding: 10% 3%;
	width: 60%;
}
.contacto {
	color: #192951;
	font-size: 36px;
	padding-bottom: 5%;
}
.entradas {
	width: 80%;
	margin: 1% 0%;
    padding: 1.5%;
}
#name {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-repeat: no-repeat;
	background-size: 5%;
	padding-left: 30px;
}
#mail {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-repeat: no-repeat;
	background-size: 5%;
	padding-left: 30px;
}
textarea {
	margin: 1% 0%;
	width: 80%;
	height: 100px;
}
#message {
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-repeat: no-repeat;
	background-size: 5%;
	padding-left: 30px;
}
.enviar {
  background-color: #192951;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 1.8em;
  padding: 3%;
  margin-top: 5%;
  width: 80%;
}
.enviar:hover {
	background-color: #fff;
	border: 2px solid #192951;
	color: #192951;
	font-weight: bold;
}
/*pie de pagina*/
footer {
	background-color: #192951;
	padding: 30px;
}
.texto-footer {
	color: white;
}
/*media*/
@media (max-width: 480px) {
	.formulario {
		width: 100%;
	}
}