/* Inserta tu codigo que es común para todas las páginas aqui */
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: #192951;
}
/*encabezado*/
header {
	padding: 10px;
	text-align: center;
}
header nav a {
	margin-left: 10px;
}
header .col-12 {
	color: #192951;
	margin: 10px;
}

/**/
.title {
	color: #192951;
	padding: 20px 0px;
	text-align: center;
}

/*formulario*/
.fondo-formulario {
	background-image: url(../img/shoes_1.jpg);
	background-repeat: no-repeat;
  background-position: right;
	width: 100%;
}
.formulario {
	width: 60%;
}
.contacto {
	color: #192951;
	font-size: 36px;
	padding: 60px 0 30px 0;
}
.entradas {
	width: 80%;
	height: 30px;
	margin: 5px 0px;
}
#name {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-repeat: no-repeat;
	background-size: 5%;
	padding-left: 30px;
}
#mail {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-repeat: no-repeat;
	background-size: 5%;
	padding-left: 30px;
}
textarea {
	margin: 5px 0px;
	width: 80%;
	height: 100px;
}
#message {
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-repeat: no-repeat;
	background-size: 5%;
	padding-left: 30px;
}
.enviar {
  background-color: #192951;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 22px;
  height: 70px;
  margin: 5px 0 50px 0;
  width: 80%;
}
/*pie de pagina*/
footer {
	background-color: #192951;
	padding: 30px 20px 20px 20px;
}
.texto-footer {
	color: white;
}