/* Inserta tu codigo aqui */
/*secciones*/
.blue {
	background-image: url(../img/dance_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 8% 0%;
}
/*
.text-blue{
	padding: 3% 0% 12% 8%;
}
*/
.text-blue h2 {
	font-size: 5em;
	color: #C3C6C5;
}
.text-blue p {
	color: #C3C6C5;
	margin-top: 2%;
	width: 25%;
}
.studio {
	display: inline-block;
	margin-top: 30px;
	color: white;
	text-decoration: none;
	padding: 13px 20px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
}
.studio:hover {
	background-color: #fff;
	border: 2px solid #192951;
	color: #192951;
	font-weight: bold;
}

/*info*/
.info {
	background-image: url(../img/textura_2.jpg);
	background-repeat: repeat;
}
.cuadro {
	padding: 4% 0% 12% 0%;
	text-align: center;
}
.texto-info {
	color: #192951;
	font-size: 2em;
	text-align: center;
	padding: 5% 9% 0% 9%;
}
.decor {
	display: block;
	margin: 0 auto;
	width: 12%;
}
.boton-azul {
	display: inline-block;
	background-color: #192951;
	border-radius: 5px;
	color: white;
	font-size: 1.5em;
	padding: 2% 4%;
}
.boton-azul:hover {
	background-color: #fff;
	border: 2px solid #192951;
	color: #192951;
	font-weight: bold;
}
/**/
.teach {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.teach-1 {
	background-image: url(../img/instructor_4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border: 2px solid #192951;
	height: 400px;
}
.teach-2 {
	background-image: url(../img/profesor_9.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border: 2px solid #192951;
	height: 400px;
}
.bt-teach {
	display: inline-block;
	background-color: #192951;
	border-radius: 5px;
	color: #fff;
	font-size: 1.5em;
	padding: 1.5% 5%;
	position: absolute;
	left: 36%;
	bottom: 0%;
}
.bt-teach:hover {
	background-color: #fff;
	border: 2px solid #192951;
	color: #192951;
	font-weight: bold;
}
/*danza*/
.frase {
	font-size: 3.5em;
	padding: 10% 0px;
	text-align: center;
	color: #192951;
	font-style: italic;
}
/*mapa*/
.info-2 {
	background-color: #192951;
}
.maps {
	color: white;
	padding: 10% 7% 0%;
}
.mapa {
	margin: 10% 5%;
}
